@page
@model RegisterModel
@{
    ViewData["Title"] = "";
}

<h2>@ViewData["Title"]</h2>
<div class="divregisterparent">
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.FirstName" class="loginlbl"></label>
                    <input asp-for="Input.FirstName" class="form-control" minlength="3" maxlength="100" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName" class="loginlbl"></label>
                    <input asp-for="Input.LastName" class="form-control" maxlength="100" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email" class="loginlbl"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password" class="loginlbl"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                     <button type="submit" class="btn btn-success" id="btnAccount"><i class="bi bi-person-plus-fill"></i>  Continue</button>
                </div>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section id="leftsectionaccount">
                <h5>Use another service to register.</h5>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-light btn-block" style="font-size:large; font-weight:bold;" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">

                                            @{
                                                string ImgSrc = string.Empty;

                                                if (provider.DisplayName == "Google")
                                                    //ImgSrc = "https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-09-512.png";
                                                    ImgSrc = "https://img.icons8.com/color/344/google-logo.png";
                                                else if (provider.DisplayName == "GitHub")
                                                    ImgSrc = "https://img.icons8.com/glyph-neue/344/github.png";
                                                else if (provider.DisplayName == "Facebook")
                                                    ImgSrc = "https://img.icons8.com/fluency/344/facebook-new.png";
                                            }
                                            <img src="@ImgSrc" alt="@provider.DisplayName" style="height: 40px; margin:4px; align-content:center;" />
                                            Sign Up With @provider.DisplayName
                                        </button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }

            </section>
        </div>
    </div>
</div>